* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */
.fl_start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fl_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl_end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* structure  */
.blue{
    background-color: #2C3F4F;
    color: white;
    height: 100px;
}

.water{
    background-color: #1ABC9C;
    height: 450px;
}

.white{
    background-color: white;
    height: 1450px;
}

.contact{
    background-color: white;
    height: 450px;
}

.bl-gray{
    background-color: #3A546E;
    height: 400px;
}


/* images  */

.images{
    background-color: white;
    height: 100%;
    margin: 30px;
}

.images img{
    width: 100%;
    height: 100%;
    margin: 2px auto;
    object-fit: contain;
    border-radius: 8px;
}

.one{
    background-color: #BB4B63;
    border-radius: 8px;

}
.two{
    background-color: #1DA5B6;
}
.three{
    background-color: #140F10;
}
.four{
    background-color: #1C83C1;
}
.five{
    background-color: #0F38B5;
}
.six{
    background-color: #CCB2A3;
}

/* Header */
header{
    background-color: #2C3F4F;
}

/* fine Header */


/* main  */


/* fine main  */


/* Footer  */



/* Fine Footer  */
/* Media query  */
@media screen and (max-width: 560px) {
    .blue .h2{
        font-weight: 700;
        font-size: 1em;
    }

}
/* Media query  */
@media screen and (max-width: 960px) {
    .remove{
        visibility: hidden;
    }

}
/* fine Media query  */

/* Media query  */
@media screen and (min-width: 960px) {
    .blue i{
        visibility: hidden;
    }

}
/* fine Media query  */
