* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */
.h-100{
    height: 100px;
}

.w-100{
    width: 100%;
}

/* structure  */

.blue{
    background-color: #2C3F4F;
    color: white;
    height: 100px;
}

.ms_water{
    background-color: #1ABC9C;
    height: 550px;
    color: white;
}

.white{
    background-color: white;
    height: 1450px;
}

.contact{
    background-color: white;
    height: 550px;
}

.bl_gray{
    background-color: #3A546E;
    height: 450px;
}

/* Header */
.header{
    background-color: #2C3F4F;
    color: white;
}
.blue .fa-bars{
    font-size: 25px;
    border: 2px solid white;
    padding: 10px;
}
.remove{
    display: none;
}
/* fine Header */

/* Jumbotron */
.ms_water .row img{
    width: 300px;
    height: 300px;
}

.star_white,
.star_blue{
    font-size: 40px;
}

.star_white:before,
.star_white:after {
    content: "";
    display: inline-block;
    width:15%;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    line-height: 4px;
    vertical-align: middle;
}

/* PORTFOLIO  */

.star_blue:before,
.star_blue:after {
    content: "";
    display: inline-block;
    width:15%;
    height: 4px;
    background-color: #2C3F4F;
    border-radius: 8px;
    line-height: 4px;
    vertical-align: middle;
}

#one, #two, #three, #four, #five, #six{
    border-radius: 8px;
    height: 400px;
    }

#one{
    background-color: #BB4B63;
}
#two{
    background-color: #1DA5B6;
}
#three{
    background-color: #140F10;
}
#four{
    background-color: #1C83C1;
}
#five{
    background-color: #0F38B5;
}
#six{
    background-color: #CCB2A3;
}

.ms_portfolio-item{
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
}

/* ABOUT  */

.about{
    margin-top: 50px;
}

#ms_white{
    border: 1px solid white;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

/* Footer  */


/* Fine Footer */


/* Media query */
@media screen and (min-width: 960px) {
    .blue i{
        visibility: hidden;
    }

    .blue .remove{
        display: block;
    }

}
/* fine Media query  */
